anyio==4.15.1
    # via httpx
certifi==2026.7.22
    # via
    #   httpcore
    #   httpx
h11==0.16.0
    # via httpcore
httpcore==1.0.9
    # via
    #   httpx
    #   python-telegram-bot
httpx==0.28.1
    # via python-telegram-bot
humanize==4.16.0
    # via mmdvm-lastheard
idna==3.19
    # via
    #   anyio
    #   httpx
python-dotenv==1.2.3
    # via mmdvm-lastheard
python-telegram-bot==22.8
    # via mmdvm-lastheard
safezip==0.1.7
    # via mmdvm-lastheard
typing-extensions==4.16.0 ; python_full_version < '3.15'
    # via anyio
